/*--public css--*/
  @charset "utf-8";
  body, ul,ol,li,dl,dt,dd,pre,form,fieldset,img,
  div,p,a, div, span, h1, h2, h3, h4, h5, h6, 
  input, textarea, select, button{
      margin:0; padding:0;color: #333333;
       font:12px/1.2  'Microsoft YaHei','PingFang SC','Hiragino Sans GB','华文细黑',
      Arial, Helvetica, sans-serif;border:none;}
  ol,ul{list-style-type:none;}
  .clear{clear:both;}
  .float-l{float:left;}
  .float-r{float:right;}
  .dis-min{
    display: inline-block;
    vertical-align: middle;
  }
  .text-left{
    text-align: left;
  }
  .dis-top{
    display: inline-block;
    vertical-align: top;
  }
  .fixed{position: fixed;}
  .marg25{margin:25px 0;}
  .center{text-align:center;}
  h1{font-size:28px;}
  h2{font-size:26px;}
  h3{font-size:24px;}
  h4{font-size:20px;}
  h5{font-size:18px;}
  h6{font-size:16px;}
  .h7{font-size:14px;}
  p{font-size:12px;}
  a:link,a:active,a:hover,a:visited{
    outline: none;
    text-decoration: none;
  }
  .paddingl-0{padding-left:0;}

  body{
    background-color: #fff;
  }

  .phonehidden{
    display: block;
  }
  .pidhidden{display: block;}
  .phoneshow{
    display: none;
  }
  /*重写bootstrap3.css*/
  .container {
    width: 1170px;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
  }
  .navbar-header {
    float: left;
    height: 90px;
    overflow: hidden;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-3 {
    width: 25%;
  }
  .navbar-collapse.collapse {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-nav {
    /*float: left;*/
    margin: 0;
  }
  .navbar-right {
    float: right;
  }
  .navbar-nav>li {
    float: left;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }



  /*顶部导航*/
  .topbg{
      background: #000;
      width:100%;
      }
      .quicknav{
      width: auto;
      font-size: 12px;
      text-align: right;
      height: 30px;
      padding-top: 7px;
      }
      .quicknav a{
        font-size:12px;
      }
      .quicknav a,.quicknav a:link,.quicknav a:active,.quicknav a:hover,.quicknav a:visited{
      color:#fff;
      }

      .navbg{
      background: #475257;
      width:100%;
      }
      .navbar-youtong {
      margin-bottom: 0;
      }
      .navbar-youtong .navbar-brand{
      padding-bottom: 0;
      padding-left: 0;
      height: 90px;
      }
      .navbar-youtong .collapse{
      margin-top: 15px;
      }

      .navbar-youtong .collapse .nav a{
      font-size:20px;
      border-bottom:2px solid #000;
      padding: 15px 25px;
      /*-webkit-text-shadow: 3px 2px 2px #363636;
      -moz-text-shadow: 3px 2px 2px #363636;
      -o-text-shadow: 3px 2px 2px #363636;
      -ms-text-shadow: 3px 2px 2px #363636;*/
      text-shadow: 3px 2px 2px #363636;
      background-color: transparent;  
      }
      .navbar-youtong .collapse .nav a:link,.navbar-youtong .collapse .nav a:active,.navbar-youtong .collapse .nav a:visited{
      color:#fff;
      }
      .navbar-youtong .collapse .nav a:hover,.navbar-youtong .collapse .active a{
      color:#f29b00;
      border-bottom:2px solid #f29b00;
      background-color: transparent;
      }
      .nav .caret{
      display: none;
      }
      .dropdown:hover .dropdown-menu{
      display: block;
      }
      .navbar-youtong .nav .open>a,.navbar-youtong .nav .open>a:focus,
      .navbar-youtong .nav .open>a:link,.navbar-youtong .nav .open>a:visited,
      .navbar-youtong .nav .open>a:hover,.navbar-youtong .nav .open>a:active,{
      background-color: transparent;
      border-color: #000;
      }
      .dropdown .dropdown-menu{
        border:0;
        width:100%;
        padding:0;
        max-width: 100%;
        min-width: 100%;
        background: #E49A09;
      }


      .dropdown .dropdown-menu li{
      float: left;
      width: 100%;
      background: #E49A09;
      }
        
      .navbar-youtong .nav .dropdown .dropdown-menu a{
        color: #fff;
        font-size: 16px;
        height:30px;
        line-height: 30px;
        padding:0 5px;
        overflow: hidden;
        text-align: center;
        border-bottom: 0;
        text-shadow:none;
        display: block;
      }

      .navbar-youtong .nav .dropdown .dropdown-menu a:link,
      .navbar-youtong .nav .dropdown .dropdown-menu a:visited,
      .navbar-youtong .nav .dropdown .dropdown-menu a:active{
      color: #fff;
      text-decoration: none;
      }
      .navbar-youtong .nav .dropdown .dropdown-menu a:hover{
      background-color: #FDB712;
      border-bottom: 0;
      }
    .navbar-toggle {
      display: none;
    }
  
  /*幻灯片样式重写*/
  /*.sildebg{
    max-width: 1440px;
  }*/
  .glyphicon-chevron-left:before,.glyphicon-chevron-right:before{
      content: "";
      }
      .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left,
      .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
      width: 80px;
      height: 80px;
      top: 42%;
      }
      .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
      background: url(../img/prev.jpg);
      left: 0;
      }
      .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
      background: url(../img/next.jpg);
      right: 0;
      }
      .carousel-indicators li,.carousel-indicators li.active{
      width:60px;height:6px;
      margin: 1px;

      }
      .carousel-indicators li{
      background-color: #878b8e;
      opacity: .85;
      filter: alpha(opacity=85);
      border-color:#878b8e;
      }
      .carousel-indicators li.active{
      background-color: #f29b00;
      border-color:#f29b00;
      }
      .carousel-inner>.item>img, .carousel-inner>.item>a>img{
        width:100%;
      }
    

    /*幻灯片下方 运单查询*/
    .taborgbg{
      background-color: #f29b00;
      }
      .tabicon01,.tabicon02{
        width:90px;
        height:90px;
        margin: 15px auto 10px;
      }
      .tabicon01{
        background: url(../img/tab-icon01.png) no-repeat;
        background-position: 0 0; 
      }
      .tabicon02{
        background: url(../img/tab-icon02.png) no-repeat;
        background-position: 0 0; 
      }
    
    
      .taborg{
      padding:0;
      cursor: pointer;
      }
      .taborg h6{
        color: #fff;
        text-align: center;
        margin: 15px 0;
      }
      .taborg p{
      color:#fff;
      margin: 10px auto 15px;
      font-size: 16px;
      text-align: center;
      }
      .taborg-waybill.active{
      background-color: #fff;
      }
      .taborg-waybill.active h6{
      color:#f29b00;
      }
      .taborg-waybill.active .tabicon01,.taborg-waybill.active .tabicon02{
      background-position: 0 -90px; 
      }
      .taborg-waybill{
      position: relative;
      }
      #waybill{
        border-right: 1px solid #fff;
      }
      .taborg-waybill .waybillform{
        display: none;
      }
      
      .waybillform{
        background: #fff;
        padding: 20px;
        position: absolute;
        bottom: 154px;
        width: 100%;
        z-index: 99;
        box-shadow: 0 5px 8px #c9c9c9;
      }
      .waybillform textarea{
      width:100%;
      height:255px;
      background: #eee;
      resize:none;
      padding:15px;
      color: #666;
      font-size: 16px;
      }
      .waybillform textarea:focus{
      border:0;
      outline:0;
      }
      .waybillform form,.waybillformuser form{
      position: relative;
      }
      .placediv{
        position: absolute;
        top:15px;
        left:15px;
        width: 90%;
      }
      .placediv h5{
      color:#666;
      margin-bottom: 185px;
      }
      .placediv h5.error{
      color:#ff4200;
      }
      .placediv h6{
        color:#999;
        text-align: left;
      }
      .subBtn{
      background-color: #f29b00;
      color: #fff;
      font-size: 22px;
      width: 100%;
      height: 50px;
      line-height: 50px;
      margin-top: 20px;
      text-align: center;
      cursor: pointer;
      }
      .subBtn:hover{
      opacity: .85;
      filter: alpha(opacity=85);
      }
      .taborg.active .waybillform{
      display: block;
      }
      .waybillform label,.waybillformuser label{
        position: relative;
        margin:15px 0;
        background:#eee;
        border-radius: 5px;
        width: 100%;
        padding: 6px 15px;
        cursor: pointer;
      }
      .user-icon,.password-icon{
        /*width: 42px;
        height: 52px;*/
        width: 27px;
        height: 33px;
        /*transform: scale(0.65);
        zoom:50%/0;*/
      }
      .taborgform2 span,.taborgform2 input{
        display: inline-block;
        vertical-align: middle;
      }
      .user-icon{
        background: url(../img/user-icon.png) no-repeat;
      }
      .password-icon{
        background: url(../img/password-icon.png) no-repeat;
      }
      .taborgform2 .line-right{
        width: 1px;
        height: 26px;
        background-color: #999;
        margin-top: 3px;
        margin-left: 8px;
        margin-right: 8px;
      }
      .taborgform2 input{
        width: 445px;
        height: 35px;
        background-color: transparent;
        font-size: 16px;
        color:#333;
        padding: 9.5px 0;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #bbb; opacity:1; 
      }

      ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #bbb;opacity:1;
      }

      input:-ms-input-placeholder{
          color: #bbb;opacity:1;
      }

      input::-webkit-input-placeholder{
          color: #bbb;opacity:1;
      }

      .taborgform2 input:focus,.taborgform2 input:active{
        border:0;
        outline: none;
      }
      .taborg p.errorlog{
        z-index:-1;
        display: none;
        position: absolute;
        top: 4px;
        color: #ff4200;
        left: 66px;
        background: #eee;
        width: 445px;
        text-align: left;
      }

    /**/
      


    /*业务介绍*/
    .padding60-0{
      padding: 60px 0;
      }
      .padding50-0{
        padding: 50px 0;
      }
      .titlediv{
        margin-bottom:50px;
      }
      .titlediv h2{
        color:#333;
        margin: 15px auto;
        text-align: center;
      }
      .titlediv .title-bottom{
        width: 50px;
        height: 2px;
        background-color: #f29b00;
        margin: 10px auto;
      }
      .business{
        text-align: center;
      }
      .business img{
        width:95%;
        padding-left: 10%;
        padding-right: 10%;
      }
      .business h4{
        text-align: center;
        margin:20px 0;
        color:#141414;
      }



    /*案例中心*/
    .bg53{
      background-color: #535353;
      }
      .padding40-0{
        padding: 40px 0;
      }
      .bg53 h2{
        color:#fff;
      }
      .listdiv,.listdiv ul{
        overflow: hidden;
        width: 100%;
      }
      .listdivlist ul,.listdivlist{
        height: auto;
      }
      .listdiv li{
        float:left;
        width:20%;
        margin-bottom: 5%;
      }
      /*.listdiv li:nth-child(6){
        display: none;
      }*/
      .listdiv a{
        width:100%;
        height:100%;
        display: block;
      }
      .listimgdiv{
        position: relative;
        border-radius: 5px;
        box-shadow: 0 0 5px #000;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 0;
      }
      .listimgdiv,.listimgdiv img{
        width: 226px;
        height:300px;
      }
      .listimgbg{
        position: absolute;
        top:0;
        left:0;
        background: url(../img/listimgbg.png) repeat;
        width:100%;
        height:100%;
      }
      .listimgdiv h4{
        text-align: center;
        position: absolute;
        top: 40%;
        color: #fff;
        width: 80%;
        line-height: 1.5;
        height: 90px;
        overflow: hidden;
        left: 50%;
        margin-left: -40%;
      }
    

    /*企业新闻*/
    .newsrow{
      border-right: 1px solid #eee;
      border-top: 1px solid #eee;
      }
      .newsrow .col-md-3{
        padding:0;
      }
      .newsrow img{
        width: 300px;
        height: 300px;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }
      .hoverdiv{
        position: relative;
        cursor: pointer;
      }
      
      .hidetext{
        display: none;
        position: absolute;
        padding:9%;
        background: url(../img/newsimgbg.png) repeat;
        width:100%;
        height:100%;
        top:0;
        left:0;
        
        -moz-animation:myshow 0.5s; /* Firefox */
        -webkit-animation:myshow 0.5s; /* Safari and Chrome */
        -o-animation:myshow 0.5s; /* Opera */
        animation:myshow 0.5s;
      }
      .hidetext h3,.hidetext .h7{
        color:#fff;
        line-height: 1.4;
      }
      .hidetext h3{
        text-align: center;
        margin: 15% auto;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .hidetext .h7{
        text-align: justify;
        height: 134px;
        overflow: hidden;
      }
      .hidetext p{
        display:none;
      }
      .hoverdiv:hover  .hidetext{
        display: block;
      }
      .hidetext a:link, .hidetext a:active, .hidetext a:hover, .hidetext a:visited {
          color: #fff;
          font-size: 16px;
      }

      @-moz-keyframes myshow
      {
      0%   {opacity: 0; filter: alpha(opacity=0);}
      25%  {opacity: .25; filter: alpha(opacity=25);}
      50%  {opacity: .50; filter: alpha(opacity=50);}
      100% {opacity: 1; filter: alpha(opacity=100);}
      }

      @-webkit-keyframes myshow
      {
      0%   {opacity: 0; filter: alpha(opacity=0);}
      25%  {opacity: .25; filter: alpha(opacity=25);}
      50%  {opacity: .50; filter: alpha(opacity=50);}
      100% {opacity: 1; filter: alpha(opacity=100);}
      }

      @-o-keyframes myshow
      {
      0%   {opacity: 0; filter: alpha(opacity=0);}
      25%  {opacity: .25; filter: alpha(opacity=25);}
      50%  {opacity: .50; filter: alpha(opacity=50);}
      100% {opacity: 1; filter: alpha(opacity=100);}
      }
      @keyframes myshow
      {
      0%   {opacity: 0; filter: alpha(opacity=0);}
      25%  {opacity: .25; filter: alpha(opacity=25);}
      50%  {opacity: .50; filter: alpha(opacity=50);}
      100% {opacity: 1; filter: alpha(opacity=100);}
      }
   

    /*footer nav*/
    .bg33{
      background: #333;
      }
      .footernav a{
        color:#fff;
        font-size:16px;
      }
      .footernav .nav>li>a{
        padding:15px 40px;
      }
      .footernav .nav>li>a:hover, .footernav .nav>li>a:focus,
      .footernav .navbar-nav>li>.dropdown-menu a:hover,
      .footernav .navbar-nav>li>.dropdown-menu a:focus {
        background-color: #FDB712;
      }
      .footernav .navbar-nav>li>.dropdown-menu{
        border: 0;
        margin-bottom: 0;
        box-shadow: none;
        text-align: center;
      }
      .footernav .navbar-nav>li>.dropdown-menu a{
        font-size:14px;
        color:#fff;
      }
      .footernav .navbar-collapse.collapse{
        padding:0;
      }
      .footernav .nav>li>a.dropdown-toggle{
        padding-left: 0;
        width: 104px;
        padding-right: 0;
        text-align: center;
      }
      .weixinfooter{
        position: relative;
        padding: 15px 40px;
        font-size: 16px;
        color: #fff;
        line-height: 20px;
        cursor: pointer;
      }
      .hideweixin{
        display: none;
        position: absolute;
        bottom: 60px;
        right: 32%;
        background-color: #333;
        padding:8%;
      }
      .hideweixin:after{
        position: absolute;
        bottom: -8px;
        content: "";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #333;
        right: 20px;
      }
      .weixinfooter:hover .hideweixin{
        display:block;
      }
   

    /*底部联系方式*/
    .bgeee{
      background: #eee;
      }
      .footer .h7,.footer .h7 a{
        color:#333;
        line-height:2.2;
      }
      .footer .row{
        padding-top: 30px;
        padding-bottom: 30px; 
      }
      .footer-right{
        position: relative;
        height:120px;
      }
      .footer-right .float-bottom{
        position: absolute;
        bottom:0;
        left:0;
      }
        
      .totop{
          position: fixed;
          right:2%;
          bottom:5%;
        }
        .totop img{
          width:50px;
        }
        #totop{
          display:none;
        }



    /*新闻列表*/
    .banner{width:100%;overflow:hidden;}
      .bannerimg{    
        width: 100%;
        margin-left: -50%;
        left: 50%;
        position: relative;
      }
      .breadcrumbdiv{margin: 20px 0;padding-bottom: 20px; padding-left: 0;}
      .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: #fff;
        border-radius: 4px;
        font-size:20px;
      }
      .list-line-b{
        border-bottom: 1px solid #eee;
      }
      .breadcrumb .left-line{
        border-left: 4px solid #f29b00;
        height: 18px;
        margin-right: 10px;
        margin-top: -3px;
      }
      .breadcrumb a,.breadcrumb>.active,.breadcrumb li{
        font-size:16px;
      }
      .breadcrumb a:link,.breadcrumb a:active,.breadcrumb a:visited{
        color:#333;
      }
      .breadcrumb a:hover{
        color:#000;
      }
      .breadcrumb>li+li:before{
        content: ">";
        color: #333;
      }
      .newslist-l{
        width: 815px;
        padding-left:0;
      }
      .newslist-r{
        width: 350px;
        padding-right: 0;
      }
      .newslist-l li{
        clear:both;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      .newslist-l li:last-child{
        border:0;
      }
      .newslist-l  img{
        width:150px;
        height:150px;
        margin-right:25px;
      }

      .list-r-text{
        /*width: 580px;*/
        height: 150px;
        padding-top: 5%;
      }
      .list-r-text h4{
        text-align: justify;
        color: #000;
      }
      .ellipsis{
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .list-text-b{
        margin-top: 20px;
        overflow: hidden;
      } 
      .list-text-b span{
        font-size: 16px;
        color: #999;
      }
      .hotnews{
        border-top:5px solid #f29b00;
        padding:20px;
        background-color: #f2f2f2;
      }
      .hotnews h5{
        color:#000;
      }
      .hotnews a:link,.hotnews a:active,.hotnews a:visited,
      .newsdetails .preornext a:link,.newsdetails .preornext a:active,.newsdetails .preornext a:visited{
        color:#595959;
      }
      .hotnews a:hover,.newsdetails .preornext a:hover{
        color:#333;
      }

      .hotnews ol{list-style-type:none;counter-reset:sectioncounter;}  
      .hotnews ol li{
        clear: both;
        margin-top:15px;
        overflow: hidden;
      }
      .hotnews ol li:before {  
        content:counter(sectioncounter) "";   
        counter-increment:sectioncounter;  
        width: 18px;
        height: 18px;
        background-color: #999;
        color: #fff;
        display: inline-block;
        border-radius: 4px;
        text-align: center;
        line-height: 18px;
        float:left;
      } 
      .hotnews ol li a{
        float:right;
        width:260px;
        font-size: 14px;
      }
      .hotnews ol li:nth-child(1):before{
        background-color: #ff5757;
      } 
      .hotnews ol li:nth-child(2):before{
        background-color: #f29b00;
      } 
      .hotnews ol li:nth-child(3):before{
        background-color: #ffb644;
      } 
      .pagefooter{padding-left: 0;padding-top:40px;}
      .pagination>li>a, .pagination>li>span,.pagination>li>a span{color: #333; font-size: 14px;    height: 34px;}
      .pagination>li>span.current{
        background-color: #333;
        color: #fff;
        border-color: #333;
      }
      .pagination>li>span.dots{
        line-height: 1;
      }


    /*新闻详情*/
    .newsdetails{padding-bottom:5%;}
      .newsdetails .news-title{color: #000;width: 85%; margin: 2% auto;text-align: center;line-height: 1.6;}
      .newsdetails .list-text-b{width:40%; margin: 3% auto; }
      .newsdetails .details{
        padding-bottom:8%;
        border-bottom:1px solid #eee;
        margin-bottom: 2%;
      }
      .newsdetails .details p{
        font-size:16px;
        color:#333;
        margin:2% 0;
        line-height: 1.8;
        text-indent: 2em;
      }
      .newsdetails .details img{
        max-width:100%;
        margin:2% auto;
      }
      .newsdetails .preornext p,.newsdetails .preornext a{
        font-size:16px;
        line-height: 1.6;
      }
      .newsdetails .preornext p{
        color:#333;
        margin-bottom: 15px;
      }
    

    /*map*/
    .contactrow{padding-top: 120px;margin-bottom: 50px;}
      .contactrow .col-md-4{padding: 0;}
        .borderpart{border:1px solid #eee;position: relative;
          padding:50px 20px 20px 20px;width:300px;height:250px;margin: 0 auto;text-align: center; }
          .borderpart h5,.borderpart h6{line-height: 1.6}
          .borderpart h5{color: #3b3b3b;margin:15px auto;}
          .borderpart h6{color: #333;}
          .contactpart h6{width:80%;text-align: left;margin: 0 auto;}
          .borderpart .icon-address,.borderpart .icon-phone,.borderpart .icon-weixin{
            position: absolute;
            top: -60px;
            left: 0;
            width: 100%;
          }
          .borderpart img{width:110px;}
          .mapdiv{width:100%;height:600px;margin:50px 0;border:1px solid #eee;}
    
    /*业务介绍*/
    .navbussies{background: #f1f1f1; height: 178px;margin-bottom:5%;}
    .navbussies ul{}
    .navbussies ul li{float:left;width: 25%;position: relative; text-align: center;}
    .navbussies .icons{
      width:88px;
      height:88px;
      display: inline-block;vertical-align: top;
      background: url(../img/icons-introud.png) no-repeat;}
      .navbussies .icon-buss01{background-position: -98px 0;}
      .navbussies .icon-buss02{background-position: -98px -99px;}
      .navbussies .icon-buss03{background-position: -98px -198px;}
      .navbussies .icon-buss04{background-position: -98px -297px;}
      .navbussies .icon-buss05{background-position: -98px -396px;}
      .navbussies .icon-buss06{background-position: -98px -495px;}
      .navbussies .active .icon-buss01,.navbussies li:hover  .icon-buss01{background-position: 0 0;}
      .navbussies .active .icon-buss02,.navbussies li:hover  .icon-buss02{background-position: 0 -99px;}
      .navbussies .active .icon-buss03,.navbussies li:hover  .icon-buss03{background-position: 0 -198px;}
      .navbussies .active .icon-buss04,.navbussies li:hover  .icon-buss04{background-position: 0 -297px;}
      .navbussies .active .icon-buss05,.navbussies li:hover  .icon-buss05{background-position: 0 -396px;}
      .navbussies .active .icon-buss06,.navbussies li:hover  .icon-buss06{background-position: 0 -495px;}
      .navbussies h4{margin-top:15px;}
      .navbussies li:hover h4,.navbussies .active h4{color:#f29b00;}
      .navbussies li:after{
        content: "";
        position: absolute;
        bottom:-5px;
        height:5px;
        width:100%;
        background-color: #666;
        left:0;
      }
      .navbussies li:hover:after,.navbussies li.active:after{
        background-color: #f29b00;
      }
      .navbussies a{display: block;padding:25px 0;}
      .navbussies li.active a:after,.navbussies li:hover a:after{
        content: "";
        position: absolute;
        bottom:0;
        left:50%;
        margin-left: -4px;
        width:8px;
        height:8px;
        border-top:0;
        border-left:8px solid transparent;
        border-right:8px solid transparent;
        border-bottom:8px solid #f29b00;
      }

    

    /*适配*/


    @media screen and (max-width: 1180px) {
      .container {
        width: 98%;
      }
      .row {
        margin-right: 0; 
        margin-left: 0; 
      }
      .padding60-0 {
        padding: 5% 0;
      }
      .padding50-0 {
        padding: 2% 0;
      }
      .hidetext h3 {
        margin: 5% auto;
      }
      .user-icon, .password-icon{
        max-width:15%;
      }
      .taborgform2 .line-right{
        max-width: 2%;
      }
      .taborgform2 input{
        max-width: 83%;
      }
      .waybillform label,.waybillformuser label{
        overflow: hidden;
      }
      /*news-list*/
      .banner{
        height: auto;
      }
      .bannerimg {
        width: 100%;
        margin-left: -50%;
      }
      .newslist-l{
        width:73%;
      }
      .newslist-r{
        width:27%;
      }
      .hotnews ol li a{
        width: 83%;
      }
      /*.list-r-text{
        width: 55%;
      }*/
      
    }
    @media screen and (max-width: 1140px) {
      
      .listimgdiv,.listimgdiv img{
        width: 210px;
        height:279px;
      }
      h3{font-size:22px;}
      .titlediv {
        margin-bottom: 3%;
      } 
    }
    @media screen and (max-width: 1050px) {
      .navbar-header {
        width: 20%;
      }
      .logo img{
        width: 100%;
      }
      .newsrow img{
        width:250px;
        height: 250px;
      }
      .newslist-l{
        width:100%;
        padding-right: 0;
      }
      /*.list-r-text {
        width: 65%;
      }*/
      .newslist-r{
        display: none;
      }
      .listimgdiv,.listimgdiv img{
        width: 190px;
        height:252px;
      }
      
    }
    @media screen and (max-width: 1010px) {
      .navbar-header {
        height: 80px;
      }
      .navbar-youtong .collapse .nav a {
        font-size: 18px;
        padding: 15px 20px;
      }
    }
    @media screen and (max-width: 910px) {
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 18px;
      }
      h4 {
        font-size: 16px;
      }
      h5 {
        font-size: 15px;
      }
      h6 {
        font-size: 14px;
      }
      .h7 {
        font-size: 13px;
      }
      .footer-right .float-bottom {
        bottom: auto;
        top:0;
        left: 15px;
      }

      .dropdown:hover .dropdown-menu{
        display: none;
      }
      .navbar-nav .open .dropdown-menu{
        position: absolute;
        display: block;
      }
      .placediv h5 {
        margin-bottom: 120px;
      }
      .listimgdiv,.listimgdiv img{
        width: 150px;
        height:199px;
      }
      .listimgdiv h4{
        top: 30%;
        height: 75px;
      }
      .hidetext .h7 {
        height: 126px;
      }
    }
    @media screen and (max-width: 800px) {
      .pidhidden{display:none;}
      .navbar-youtong .collapse .nav a {
        font-size: 14px;
        padding: 15px;
        display: inline-block;
      }
      .navbar-youtong .nav .dropdown .dropdown-menu a {
        font-size: 12px;
        height: 24px;
        line-height: 24px;
      }
      .waybillform label,.waybillformuser label{
            padding: 2%;
      }
      .taborg p.errorlog {
        left: 16%;
        width: 83%;
      }
      .newsrow{
        max-width: 80%;
        margin: 0 auto;
      }
      .newsrow .col-md-3 {
        width: 50%;
      }
      .newsrow img {
        height: 300px;
        width: 300px;
      }
      /*联系我们*/
      .contactrow{padding-top: 80px;background-color: #f0f0f0;margin-bottom: 70px;}
      .contactrow .col-md-4 {
        width: 100%;
      }
      .borderpart{
        background-color: #fff;
        padding:20px;
        width: 320px;
        clear: both;
        float: none;
        margin: 10px auto 85px;
        height:auto;
      }
      .borderpart .icon-address, .borderpart .icon-phone, .borderpart .icon-weixin{
        top:-30px;
      }
      .borderpart h5{
        font-weight: bold;
      }
      .borderpart span img{
        width:50px;
      }
      .mapdiv{
        display: none;
      }
      .totop{
        bottom: 50.5%;
      }
      .pagefooter{
        padding-top: 0;
        padding-right: 0;
      }
      /*面包屑导航变形*/
      .breadcrumbdiv{border:0;padding-bottom: 0;}
      .breadcrumbdiv li{display: none;}
      .breadcrumbdiv li.active{display: block;color: #000;font-size: 24px;text-align: center;padding: 5% 0;}
      .breadcrumb>li+li:before{content: "";}

      
    }


    @media screen and (max-width: 737px) {
      .navbar-youtong .collapse {
        margin-top: 0;
      }
      .navbar-header {
        height: 60px;
      }
      .waybillform textarea{
        height: 200px;
      }
      .subBtn {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
      }
      .taborgform2 .line-right{
        margin-left:2%;
        margin-right:2%;
      }
      .phonefooter{
        background: #333;
        border-top:5px solid #f29b00;
      }
      .weixinfooter span,.phonefooterli{
        color:#fff;
        font-size:16px;
      }
      .phonefooter li{
        border-bottom:1px solid #525252;
      }
      .phonefooter li.indent{
         padding-left:5%;
      }
      .phonefooterli{
        width:85%;
        margin: 0 auto;
        padding: 15px 20px;
      }
      .copyright{
        width:85%;
        color:#999;
        font-size:14px;
        text-align: center;
        margin: 10px auto;
        line-height: 1.6;
      }
      .phonefooterli a:link,.phonefooterli a:active,.phonefooterli a:hover,.phonefooterli a:visited{
        color:#fff;
      }
      .weixinfooter .weixinicon{
        position: absolute;
        right: 2%;
        top: 5px;
        width: 40px;
      }
      .hideweixin{
        right:0;
        bottom: 65px;
        width: 50%;
        padding: 15px;
      }
      .hideweixin img{
        width:100%;
      }
      .hideweixin p{
        color: #fff;
        font-size: 16px;
        line-height: 1.4;
        margin-top: 15px;
      }
      .listimgdiv,.listimgdiv img{
        width: 110px;
        height:146px;
      }
      /*新闻详情*/
      .newsdetails .list-text-b{
        width: 85%;
      } 
    }

    @media screen and (max-width: 668px) {
      .phonehidden{
        display: none;
      }
      .phoneshow{
        display: block;
      }
      .navbg .col-md-12{
        padding:0;
      }
      .taborg-waybill p.errorlog {
        width: 80%;
        left:18%;
      }

      .taborgform2 input{
        max-width: 80%;
      }
      .placediv h5 {
        margin-bottom: 125px;
      }  
      .placediv h6 {
        text-align: left;
      }
      .business .col-md-2,.listdiv li{
        width: 33.3333%;
        margin-bottom:3%;
      }
      
      .newsrow {
        max-width: 100%;
        border: 0;
      }
      .newsrow .col-md-3 {
        width: 100%;
        background: #eee;
        border-top:1px solid #f6f6f6;
        border-bottom:1px solid #f6f6f6;
        margin-bottom:3%;
      }
      .hoverdiv {
        max-width: 80%;
        margin: 3% auto;
      }

      .hidetext{
        display:block;
        background: none;
        width: 60%;
        left: 40%;
        padding: 0 5%;
      }
      .hidetext h3{
        margin: 2% auto;
        color: #333;
        text-align: left;
        font-size:20px;
      }
      .hidetext .h7{
        color: #666;
      }
      .hidetext p{
        display:block;
        color: #999;
      }
      .hidetext .h7,.hidetext p{
        font-size:16px;
        margin: 3% 0;
      }
      .hidetext a:link,.hidetext a:active,.hidetext a:hover,.hidetext a:visited{
        color:#f29b00;
      }
      /*.listdiv li:nth-child(6){
        display: block;
      }*/
      .newsrow img {
        width:210px;
        height: 210px;
        max-width: 40%;
        overflow: hidden;
         border: 1px solid #dedede;
      }
      .hidetext .h7 {
        height: 113px;
      }
      .borderpart{
        width: 80%;
      }
     
    }
    @media screen and (max-width: 641px) {
      .navbar-youtong .collapse {
        padding: 0;
      }
      .navbar-youtong .collapse .nav a {
        padding: 13px 10px;
      }
      .weixinfooter,.footernav .nav>li>a {
        padding: 15px 20px;
      }
      
    }

    @media screen and (max-width: 569px) {
      .container {
          width: 100%;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 16px;
      }
      h4,h5,.list-text-b span,.breadcrumb a, .breadcrumb>.active, .breadcrumb li{
        font-size: 14px;
      }

      h6,.h7 {
        font-size: 12.5px;
      }
      .navbg {
        background: #1e3a49;
      }
      .navbg .container {
        width: 100%;
        padding: 0;
      }
      .navbar-header{
        width:100%;
        height: 55px;
      }
      .logo img {
        width: 115px;
      }
      .navbar-youtong{
        border: none;
        z-index: 20;
      }
      .navbar-youtong .navbar-brand {
        height: 50px;
        padding-top: 9px;
        padding-left: 15px;
      }
      .navbar-toggle {
        display: block;
        background-color: #0a161b;
        margin: 0;
        border-radius: 0;
        height: 100%;
        width: 50px;
        
      }
      .navbar-toggle:focus,.navbar-toggle:active{
        border: 0;
        outline: none;
      }
      .navbar-nav>li ,.navbar-right{
        float: inherit;
      }
      .navbar-collapse.collapse {
        display: none;
      }


      .navbar-toggle .icon-bar{
        background-color: #fff;
        width: 100%;
        height: 3px;
        border-radius: 0;
      }
      .line-iconbar{
        position: absolute;
        width: 3px;
        height: 20px;
        background: #0a161c;
        top: 17px;     left: 15px;
      }
      .navbar-toggle:hover .icon-bar{
        background-color: #f29b00;
      }
      .navbar-collapse{
        background: #333;
        padding-left: 0;
        border-top: 4px solid #f29b00;
        max-height: 100%;
      }
      .navbar-nav>li {
        border-bottom: 1px solid #555;
        clear: both;
      }
      .navbar-nav>li>a{
        padding-left: 25px;
      }
         
      .navbar-nav>li>a:link,
      .navbar-nav>li>a:visited,
      .navbar-youtong .nav .dropdown .dropdown-menu a:link,
      .navbar-youtong .nav .dropdown .dropdown-menu a:visited{
        color:#fff;
        outline: none;
        background: transparent;
      }

      .navbar-nav>li>a:hover,.navbar-nav>li>a:active,
      .nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
       .navbar-youtong .nav .dropdown .dropdown-menu a:active,
       .navbar-youtong .nav .dropdown .dropdown-menu a:hover{
        color:#f29b00;
        background: transparent;
      }
      
      .navbar-nav .open .dropdown-menu{
        display: block;
      }
      .navbar-youtong .navbar-nav>li a{
         position: relative;
      }
      .navbar-youtong .navbar-nav>li a:after,.navbar-youtong .navbar-nav>li.dropdown a.dropdown-toggle:after{
        position: absolute;
        content: '';
        width:20px;
        height:22px;
        background: url(../img/nav-icons.png) no-repeat;
        background-position: 0 -24px;
        right: 15px;
        top: 10px;
      }
      .navbar-youtong .navbar-nav>li.active a:after{
        background: none;
      }
      .navbar-youtong .navbar-nav>li.dropdown a.dropdown-toggle:after{
        background-position: 0 0;
      }
      .navbar-youtong .navbar-nav>li.dropdown.open a.dropdown-toggle:after{
        background-position: 0 -46px;
      }

      .dropdown .dropdown-menu{
        background: #333;
      }
      .dropdown .dropdown-menu li{
        background: transparent; 
        padding-left: 25px;
        border-bottom: 1px solid #555;
      }
      .navbar-youtong .nav .dropdown .dropdown-menu a{
        text-align: left;
        padding:10px 15px;
        height: 40px;
        line-height: 20px;
      }
      

      .carousel-control .icon-prev, 
        .carousel-control .glyphicon-chevron-left,
          .carousel-control .icon-next,
            .carousel-control .glyphicon-chevron-right,
            .tabicon01, .tabicon02,.user-icon, .password-icon{
            -ms-transform: scale(.60);
            -moz-transform: scale(.60);
            -webkit-transform: scale(0.60);
            -o-transform: scale(.60);
            transform: scale(.60);
            top:30%;
      }

      .carousel-indicators li, .carousel-indicators li.active {
          width: 60px;
          height:6px;
      }
      .taborgbg .container{
        padding:0;
      }


      .taborg .tabicon01,.taborg .tabicon02,.taborg h6{
        display:inline-block;
        vertical-align: middle;
        margin: 0;
      }

      .waybillform{
        bottom:90px;
        padding: 10px;
        z-index: 15;
      }
      .waybillform h5,.waybillform h6,
      .waybillformuser h5,.waybillformuser h6{
        font-size:12px;
      }
      .placediv {
        top: 10px;
        left: 10px;
      }
      .placediv h5 {
          margin-bottom: 75px;
      }
      .waybillform textarea{
        padding: 10px;
        font-size: 12px;
        height: 140px;
      }
      .subBtn {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
      }
      .waybillform label,.waybillformuser label{
          margin: 5px 0;
          padding: 0 2%;
      }
      .taborgform2 input {
          max-width: 75%;
      }
      .user-icon, .password-icon{
        max-width: 16%;
      }
      .taborgform2 .line-right {
        margin-left: 1%;
        margin-right: 1%;
        height: 17px;
        margin-top: 1px;
      }

      .taborg p.errorlog {
        width: 75%;
        left: 45px;
        margin: 6px auto;
      }
      .hidetext h3 {
        font-size: 16px;
      }
      .camlp3{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
      .hidetext .h7{
        
      }
      .hidetext .h7, .hidetext p,
        .hidetext a:link, .hidetext a:active,
         .hidetext a:hover, .hidetext a:visited,
         .weixinfooter span, .phonefooterli,.hideweixin p,
         .listimgdiv h4,.taborgform2 input,.taborg p{
          font-size: 12px;
      }
      
          
      .listdiv, .listdiv ul{
        width: 98%;
        margin: 0 auto;
      }
      .listdivlist ul, .listdivlist{
        width: 100%;
      }
      .totop img {
        width: 40px;
      }
      .navbar-nav .open .dropdown-menu{
        position: static;
      }
      .listimgdiv h4{
        height: 55px;
      }
      .newsrow img {
        width:180px;
        height: 180px;
      }
      .bannerimg {
        width: 570px;
        margin-left: -285px;
      }
      /*详情*/
      .newsdetails .news-title,.newsdetails .list-text-b{
        width:100%;
      }      
    }

    @media screen and (max-width: 481px) {
      .newslist-l  img {
        width: 120px;
        height: 120px;
      }
      .list-r-text{
        height: 120px;
      }
      .list-text-b span,.breadcrumb a, .breadcrumb>.active, .breadcrumb li{
        font-size: 12px;
      }
    }
    @media screen and (max-width: 415px) {
      .taborg-waybill p.errorlog{
        left: 23%;
      }
      .hoverdiv {
        max-width: 90%;
      }
      .newsrow img {
        width: 120px;
        height: 120px;
      }
      .hidetext .h7 {
        height: 50px;
      }
      .hidetext {
        padding: 0 2%;
      }

      .newslist-l  img {
        width: 100px;
        height: 100px;
      }
      .list-r-text{
        height: 100px;
      }
      .mapdiv{
        height: 400px;
        margin-top:0;
      }
      .contactrow .col-md-4:last-child .borderpart{
        margin-bottom:40px;
      }

    }
    @media screen and (max-width: 376px) {
      /*.user-icon,*/
      .carousel-control .icon-prev,
       .carousel-control .glyphicon-chevron-left, 
       .carousel-control .icon-next,
        .carousel-control .glyphicon-chevron-right,
        .tabicon01, .tabicon02,  .password-icon{
        -ms-transform: scale(.50);
        -moz-transform: scale(.50);
        -webkit-transform: scale(0.50);
        -o-transform: scale(.50);
        transform: scale(.50);
            top: 25%;
      }

      .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
        left:-20px;
      }
      .carousel-control .icon-next,
        .carousel-control .glyphicon-chevron-right{
          right:-20px;
        }

      .taborgform2 .line-right {
        height: 15px;
        margin-top: -1px;
      }
      
      
      
      .waybillform {
        top:90px;
        background-color: #fff;
        height: 200px;
        box-shadow: 0 0 10px #c9c9c9;
      }
      .taborg-qiyeuser .waybillform,.taborg-qiyeuser .waybillformuser{
        height: 155px;
      }
      .user-icon, .password-icon {
        max-width: 20%;
      }
      /*.taborgform2 .line-right {
        margin-left: -4%;
        height: 14px;
        margin-top: 1px;
      }*/
      .taborg-waybill p.errorlog {
          left: 33px;
      }
      .weixinfooter .weixinicon{
        width:35px;
      }
      .placediv h5 {
        margin-bottom: 65px;
      }
      .taborg-waybill h6{
        margin-left:-12%;
      }
      .taborg .placediv h6{
        margin-left:0;
      }

      .padding40-0 {
          padding: 30px 0;
      }

      .newslist-l  img {
        width: 80px;
        height: 80px;
      }

      .list-r-text {
        /*width: 70%;*/
        height: 80px;
        padding-left: 3%;
      }
      .list-text-b {
        margin-top: 10px;
      }
      .borderpart{
        width:100%;
      }
      .contactrow{
        margin-top:95px;
      }

    }
    @media screen and (max-width: 321px) {
      .listimgdiv,.listimgdiv img{
        width: 95px;
        height:126px;
      }
      .newsrow img {
        width: 110px;
        height: 110px;
      }
      .pagination>li>a, .pagination>li>span, .pagination>li>a span{
        font-size:12px;
      }

      .padding40-0 {
          padding: 20px 0;
      }
      
    }
